.align-right{
    display: inline-block;
    text-align: center;
    margin: 5px 5px 15px 5px;
}
.align-left{
    display: inline-block;
    text-align: center;
    margin: 5px 5px 5px 15px;
}

.align-right > *, .align-left > *{
    padding: 6px 24px 6px 24px;
}

.ancla{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 25px;
}

.box_img{
    position: relative;
    max-width: 250px;
}

.x_close{
    position: absolute;
    top: 80px;
    right: 20px;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px outset grey;
    background: #d4d4d4;
}
.x_close:active{
    border: 2px inset grey;
    background: #b5b5b5;
}

.Input_Erroneo{
    border-color: #ff0006
}
.Label_Erroneo{
    color: #ff0006
}
.Borde_difuminado{
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
    background: rgba(255, 255, 255, 0.43);
}

.box-image{
    padding: 15px;
}

.box-image img{
    width: 360px;
    height: 80px;
}

.container{
    min-height: 460px;
    padding: 20px;
}

.div-buttons{
    min-width: 500px;
    margin: 10px auto;
}

.hidden{
    display: none;
}

input.form-control{
    margin-bottom: 10px;
}

.checkbox > label{
    cursor: pointer;
}

.Borde_difuminado_blanco{
    border-radius: 10px;
    /*box-shadow: 0 0 15px #323232;*/
    background: #ffffff;
}

#panel-status{
    width: 270px ;
    margin: 15px 0 0px 0;
}

#panel-info{
    width: 85%;
    margin: 25px auto;
    text-align: center;
}

.p-5-izquierda {
    padding-left: 3rem !important;
    padding-top: 0rem !important;
}
.m-5-arriba{
    margin-top: 3rem !important;
}
.m-2-arriba{
    margin-top: 1rem !important;
}
.buscar_por {
    width: 100%;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
.Blanco{
    color: #ffffff !important;
}
.Cabecera_tabla{
    background-color: #12beff !important;
}
#barraaceptacion {
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
}

.datepicker-days{
    padding: 7px;
}

.inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:30%;
}

.inner a.ok {
    padding:4px;
    color:#00ff2e;
    text-decoration:none;
}

.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}

.row{
    margin-bottom: 20px;
}

footer{
    width: 100%;
    height: 120px;
    margin-top: 20px;
    background-color: #25282e;
    color: whitesmoke;
    text-align: center;
    font-size: 12px;
}

footer .row{
    margin-left: 0;
    margin-right: 0;
}

footer p{
    padding: 20px 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.form-dates{
    margin: 0 auto;
}

form#form-change-status{
    margin-bottom: 0;
}

.form-dates label{
    margin: 0 7px 0 0px;
}

.form-group{
    margin-left: 8px;
}
.form-group label{
    margin-left: 4px;
}

.mark{
    cursor: pointer;
}

.no-style{
    background: transparent;
    border: none;
    color: #0000cc;
    cursor: pointer;
    text-decoration: underline
}

.padd12{
    padding: 12px;
}

.dataTables_paginate.paging_simple_numbers{
    margin-bottom: 25px;
}

.sheader{
    width: 100%;
    text-align: center;
}