
#ceremonia2{
    display: none;
}

.checkbox{
    margin-top: 15px;
}

.checkbox label{
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.checkbox input[type=checkbox]{
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 17px;
    height: 17px;
}

select[name=insurance]{
    display: none;
}